table{
    border: none;
    margin-bottom: 50px;
    /* padding: 5px; */
}
tr:nth-child(even){
    background-color: cadetblue;

}
tr:nth-child(odd){
    background-color: rgb(223, 179, 179);
}
tr:hover{
    background-color:rgb(207, 205, 66);
}
th{
    padding: 15px;
    background-color: rgb(107, 201, 107);
    color: white;
}
td{
    padding: 18px
}
td:hover{
    background-color: darkorchid;
}